# Basic_python_assignment_20

## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,' 
with open('test.txt','w+') as outfile:
    outfile.write(test1)
print(test1)

This is a test of the emergency text system,

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r+') as infile:
    test2 = infile.read()
print(test2)

This is a test of the emergency text system,

## 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [9]:
import csv 
        
with open('books.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['title','author','year'])
    writer.writerow(['The Weirdstone of Brisingamen','Alan Garner',1960])
    writer.writerow(['Perdido Street Station','China Miéville',2000])
    writer.writerow(['Thud!','Terry Pratchett',2005])
    writer.writerow(['The Spellman Files','Lisa Lutz',2007])
    writer.writerow(['Small Gods','Terry Pratchett',1992])

In [10]:
with open('books1.csv', 'r') as infile:
    data = csv.reader(infile)
    for line in data:
        print(line)
#         if index > 0:
#             cursor.execute("insert into books values(row))

['title', 'author', 'year']
["['The Weirdstone of Brisingamen', 'Alan Garner', 1960]", "['Perdido Street Station', 'China Miéville', 2000]", "['Thud!', 'Terry Pratchett', 2005]", "['The Spellman Files', 'Lisa Lutz', 2007]", "['Small Gods', 'Terry Pratchett', 1992]"]

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import csv
import sqlite3

# Establish sqlite3 connection 
db1 = sqlite3.connect('books.db')

# creating cursor object to execute SQL queries on database table
cur = db1.cursor()

# drop table if exists
cur.execute("drop table if exists books")

# create table in database with headers title, author, year
cur.execute("create table books(title CHAR (50), author VARCHAR (30), year int (8))")

## 5. Read books.csv and insert its data into the book table.

In [12]:
# open csv file and read content
import csv

with open('books.csv') as csvfile:
    csv_reader = csv.reader(csvfile)
    header = next(csv_reader) # slice the header row

    # sql query to insert csv data into table
    query = "insert into books(title, author, year) values (?,?,?)"

    # import csv data into db table
    cur.executemany(query, csv_reader)
    rows = cur.execute("select * from books").fetchall()
    for i in rows:
        print(i)

    # committing changes and close connection
#db1.commit()
#db1.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

## 6. Select and print the title column from the book table in alphabetical order.

In [13]:
row = cur.execute("select title from books order by title").fetchall()
for i in row:
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

## 7. From the book table, select and print all columns in the order of publication.

In [14]:
row = cur.execute("select * from books order by year").fetchall()
for i in row:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
import sqlalchemy
import pandas as pd

dbEngine = sqlalchemy.create_engine('sqlite:///books1.db')
dbEngine

Engine(sqlite:///books1.db)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
### Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [17]:
!pip install redis

Requirement already satisfied: redis in c:\users\anjik\anaconda3\lib\site-packages (4.4.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\anjik\anaconda3\lib\site-packages (from redis) (4.0.2)

'DOSKEY' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

## 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')